
*.o
*.d
*.elf
*.bin

**/test
**/testvectors
**/call_gen

**/gen_dilithium_ntt_table
**/gen_kyber_ntt_table
**/gen_ntrup_ntt_table

**/polymul_small
**/polymul_small_speed
**/mulmod
**/intdiv
**/intdiv_speed

**/dilithium_ntt
**/dilithium_ntt_speed
**/kyber_ntt
**/kyber_ntt_speed
**/ntrup_ntt
**/ntrup_ntt_speed

**/kyber512_test
**/kyber768_test
**/kyber1024_test
**/kyber512_testvectors
**/kyber768_testvectors
**/kyber1024_testvectors
**/kyber512_speed
**/kyber768_speed
**/kyber1024_speed

**/dilithium2_test
**/dilithium3_test
**/dilithium5_test
**/dilithium2_testvectors
**/dilithium3_testvectors
**/dilithium5_testvectors
**/dilithium2_speed
**/dilithium3_speed
**/dilithium5_speed

**/speed
**/speed_polymul
**/speed_arith
**/speed_Rqinv
